@model IEnumerable<Patient>

    @{
    ViewData["Title"] = "Index";
}
@if (TempData["ResultOk"] != null)
{
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}
<div class="container shadow p-5">

    <h1 class="text-center mb-3"> COVID Vaccination/Patient System </h1>
    <div class="col mb-3">
        <a asp-controller="Patient" asp-action="Create" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i>Add Patient Details</a>
    </div>

     <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">PassportNumber</th>
                <th scope="col">Emirates_ID</th>
                <th scope="col">Emirate</th>
                 <th scope="col">Address</th>
                <th scope="col">FirstDose</th>
                 <th scope="col">SecondDose</th>
                <th scope="col">ThirdDose</th>
                <th scope="col">ForthDose</th>
                <th scope="col">RecordCreatedOn</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td width="15%">
                        @item.Name
                    </td>
                    <td width="15%">
                        @item.PassportNumber
                    </td>
                    <td width="15%">
                        @item.Emirates_ID
                    </td>
                    <td width="10%">
                        @item.Emirate
                    </td>
                     <td width="20%">
                        @item.Address
                    </td>
                     <td width="15%">
                        @item.FirstDose
                    </td>
                     <td width="15%">
                        @item.SecondDose
                    </td>
                     <td width="15%">
                        @item.ThirdDose
                    </td>
                     <td width="15%">
                        @item.ForthDose
                    </td>
                     <td width="15%">
                        @item.RecordCreatedOn
                    </td>
                    <td>
                        <div role="group" class="w-60 btn-group">
                            <a asp-controller="Patient" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;
                            <a asp-controller="Patient" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
